@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("images/johannes-plenio-1vzLW-ihJaM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    font-family: 'MedievalSharp', cursive;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    font-size: 4.75rem;
}

.subtitle {
    font-size: 2rem;
}

.name-info {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
}

.male-btn {
    margin-right: 50px;
    font-family: 'MedievalSharp', cursive;
    font-size: 40px;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 1px solid;
}

.female-btn {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'MedievalSharp', cursive;
    font-size: 40px;
    background-color: white;
    border-radius: 12px;
    color: black;
    border: 1px solid;
}

.random-btn {
    margin-left: 50px;
    font-family: 'MedievalSharp', cursive;
    font-size: 40px;
    background-color: white;
    border-radius: 12px;
    color: black;
    border: 1px solid;
}

#fantasy-name {
    margin-top: 20px;
    max-width: 800px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba (0, 0, 0, 0.2);
    font-size: 2rem;
    color: #000;
}


/* Footer */

.footer-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     
    margin-top: 5%;
    text-align: center;
    font-size: 1.50rem;
    font-family: 'MedievalSharp', cursive;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba (0, 0, 0, 0.2);
    color: #000;
    }



  
  }

  a {
    color: #000;
  }


  a:visited {
    color: #000;
  }
    
  

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2.5rem;
    }
}