@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color:#000;
    background-image: url("images/star-wars.jpg");
    background-repeat: no-repeat;
    font-family: 'Space Mono', monospace;
    color: #fff;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.github-button {
    margin-bottom: 30px;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}


/* Container */

.container {
    background: rgba(63, 63, 63, 0.5);
    text-align: center;
    width: 700px;
    padding-bottom: 10px;
}

.title {
    font-size: 2rem;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

/* Form */

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding-left: 100px;
    padding-bottom: 20px;
}

input[type=text],
select {
    width: 80%;
    height: 30px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
    grid-column: 1 / 2;
}


button {
    grid-column: 2 / 3;
}


/* Name Text Label */

.name-text {
    padding-left: 125px;
    text-align: left;
}


/* Name Text Area */


input {
    float: left;
    width: 500px;
    height: 30px;
}

.first-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.last-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.maiden-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.birth-town {
    margin: 2px;
    text-align: center;
    font-size: 30px;
}

.star-wars-btn {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
    background-color: white;
    border-radius: 12px;
    color: black;
    border: 1px solid;
}
#star-wars-name,
#star-wars-alliance {
    margin-top: 5px;
    font-size: 1.2rem;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    background: rgba(63, 63, 63, 0.5);
}

.footer-links {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    position: relative;
    z-index: 5;
}

.footer-links a {
    color: #EAF6F6;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.credits {
    color: #EAF6F6;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

.copyright {
    color: #EAF6F6;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}