python-projects/.idea/misc.xml
python-projects/.idea/modules.xml
python-projects/.idea/python-projects.iml
python-projects/.idea/vcs.xml
python-projects/.idea/inspectionProfiles/profiles_settings.xml
web-projects/web-bootcamp-projects/TinDog/css/.DS_Store
web-projects/web-bootcamp-projects/TinDog/images/.DS_Store
