@import "./_variables.scss";
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
body {
    text-align: center;
    font-family: $musicfont;
    background-color: $bodybackground
}

.github-button {
    font-family: $gitfont;
    font-size: $github;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: $heading;
    color: $clear;
    text-shadow: 3px 0 #DA0463;
}

a {
    color: $clear;
}

.w {
    background-image: url(#{$images}/tom1.png);
}

.a {
    background-image: url(#{$images}/tom2.png)
}

.s {
    background-image: url(#{$images}/tom3.png)
}

.d {
    background-image: url(#{$images}/tom4.png)
}

.j {
    background-image: url(#{$images}/snare.png)
}

.k {
    background-image: url(#{$images}/crash.png)
}

.l {
    background-image: url(#{$images}/kick.png)
}

.set {
    margin: 10% auto;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 $clear;
    opacity: 0.5;
}

.red {
    color: red;
}

.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: $musicfont;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: $clear;
}


/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    font-family: $gitfont;
    color: $clear;
    text-align: center;
}

.copyright {
    font-size: $footerCopyright;
    color: $clear;
    text-align: center;
    padding-top: 5px;
}