// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Font Variables
$funfont: 'Lobster',
cursive;
$gitfont: 'Roboto',
sans-serif;
// Font Size Variables
$header: 3rem;
$winner: 2rem;
$player: 1.5rem;
$footerLinks: 25px;
$footerCopyright: 15px;
// Colour Variables
$bodyColour: #393E46;
$funColour: #4ECCA3;
$footerColour: #EEEEEE;