@import "./_variables.scss";
// Body 
body {
    background-color: $bodyColour;
    font-family: $funfont;
}

// Github Button
.github-button {
    font-size: $footerLinks;
    font-family: $gitfont;
    margin-top: 30px;
    margin-bottom: 30px;
}

// Game Container
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

// Header
h1 {
    font-family: $funfont;
    margin: 30px;
    text-shadow: 5px 0 #232931;
    font-weight: bold;
    font-size: $header;
    color: $funColour;
}

// Winner Declaration
#winner {
    font-family: $funfont;
    text-align: center;
    font-size: $winner;
    color: $funColour;
}

p {
    font-family: $funfont;
    font-size: $player;
    color: $funColour;
}

// Dice
.dice {
    text-align: center;
    display: inline-block;
}

img {
    width: 80%;
}

// Footer
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    font-family: $funfont;
    color: $footerColour;
    text-align: center;
}

.footer-links {
    display: inline-block;
    text-align: center;
    font-size: $footerLinks;
    position: relative;
    z-index: 5;
}

.footer-links a {
    color: $footerColour;
    padding-left: 10px;
    padding-right: 10px;
}

.copyright {
    font-family: $gitfont;
    font-size: $footerCopyright;
    color: $footerColour;
    text-align: center;
    padding-top: 5px;
}