// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Font Variables

$funfont: 'Press Start 2P', cursive;
$gitfont: 'Roboto', sans-serif;

// Font Size Variables

$title: 2.5rem;
$footercopyright: 15px;
$footerlinks: 25px;

// Variables

$bodybackground: #011F3F;
$titlecolour: #FEF2BF;
$redbutton: red;
$greenbutton: green;
$bluebutton: blue;
$yellowbutton: yellow;
$pressed: grey;
$offwhite: #EEEEEE;