@import "./_variables.scss";
// Body
body {
    text-align: center;
    background-color: $bodybackground;
    font-family: $funfont;
}

// Github Container
.github-button {
    font-family: $gitfont;
    font-size: $footerlinks;
    margin-top: 30px;
    margin-bottom: 30px;
}

// Game Container
.container {
    display: block;
    width: 50%;
    margin: auto;
}

#level-title {
    font-family: $funfont;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: $title;
    color: $titlecolour;
}

.row {
    margin-bottom: 0px;
}

.game-over {
    background-color: $redbutton;
    opacity: 0.8;
}

// Simon Buttons
.simon-btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}

.red {
    background-color: $redbutton;
}

.green {
    background-color: $greenbutton;
}

.blue {
    background-color: $bluebutton;
}

.yellow {
    background-color: $yellowbutton;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: $pressed;
}

// Footer
footer {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    font-family: $gitfont;
    color: $offwhite;
    text-align: center;
}

.copyright {
    color: $offwhite;
    text-align: center;
    padding-top: 5px;
    font-size: $footercopyright;
}