@import "./_variables.scss";

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color:$space;
    background-image: url(#{$images}/star-wars-cave-by-cade-roberts-unsplash.jpg);
    background-repeat: no-repeat;
    font-family: $spacefont;
    color: $star;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.github-button {
    font-family: $gitfont;
    font-size: $footercredit;
    margin-bottom: 30px;
}

a {
    color: $star;
}

a:visited {
    color: $star;
}


/* Container */

.container {
    background: rgba(63, 63, 63, 0.5);
    text-align: center;
    width: 700px;
    padding-bottom: 10px;
}

.title {
    font-size: 2rem;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

/* Form */

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding-left: 100px;
    padding-bottom: 20px;
}

input[type=text],
select {
    width: 80%;
    height: 30px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
    grid-column: 1 / 2;
}


button {
    grid-column: 2 / 3;
}


/* Name Text Label */

.name-text {
    padding-left: 125px;
    text-align: left;
}


/* Name Text Area */


input {
    float: left;
    width: 500px;
    height: 30px;
}

.first-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.last-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.maiden-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.birth-town {
    margin: 2px;
    text-align: center;
    font-size: 30px;
}

.star-wars-btn {
    margin-top: 20px;
    font-size: 25px;
    font-family: $spacefont;
    background-color: star;
    border-radius: 12px;
    color: $space;
    border: 1px solid;
}
#star-wars-name,
#star-wars-alliance {
    margin-top: 5px;
    font-size: 1.2rem;
}


/* Footer */

.footer {
    position: absolute;
    font-family: $gitfont;
    color: $offstar;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    background: rgba(63, 63, 63, 0.5);
}

.footer-links {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    position: relative;
    z-index: 5;
}

.footer-links a {
    font-size: $footerlinks;
    padding-left: 10px;
    padding-right: 10px;
}

.credits {
    text-align: center;
    font-size: $footercredit;
    padding: 5px;
}

.copyright {
    text-align: center;
    font-size: $footercopyright;
    padding-top: 5px;
}