html {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* min-height: 100vh; */
    background-color: #fff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #000;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Data Container */


/* .data-container {
    /* background: rgba(255, 0, 0, 0.5); */


/* }
.title {
    font-size: 2rem;
}
.subtitle {
    font-size: 1.5rem;
} */

*/
/* Form */


/* form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding-bottom: 50px;
}

input[type=text],
select {
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
} */


/* Name Text Label */


/* .name-text {
    padding-left: 125px;
    text-align: left;
} */


/* Name Text Area */


/* input {
    float: left;
    width: calc(100% - 200px);
}

#name {
    margin: 0px;
    text-align: center;
} */

/* .github-button {
    margin-top: 30px;
    margin-bottom: 30px;
} */


/* .data-btn {
    width: calc(100% - 200px);
    margin-top: 40px;
    font-size: 40px;
    background-color: white;
    border-radius: 12px;
    padding-bottom: 30px;
    color: black;
    border: 1px solid;
} */


/* #data-score {
    margin-top: 10px;
    font-size: 2rem;
} */


/* Footer */


/* .footer {
    background-color: #66BFBF;
    padding: 30px 0 20px;
}

.footer-links {
    display: inline-block;
    position: relative;
    z-index: 5;
}

.footer-links a {
    color: #EAF6F6;
    font-size: 36px;
    margin-right: 40px;
}

.credits {
    color: #EAF6F6;
    text-align: center;
    font-size: 0.75em;
    padding: 5px;
}

.copyright {
    color: #EAF6F6;
    text-align: center;
    font-size: 0.75em;
    padding-top: 20px;
} */


/* Footer */


/* footer {
     position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    font-family: 'Boogaloo', cursive;
    color: #EEEEEE;
    text-align: center;
}

.footer-links {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    position: relative;
    z-index: 5;
}

.footer-links a {
    color: #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
}

.copyright {
    font-size: 15px;
    color: #EEEEEE;
    text-align: center;
    padding-top: 5px;
} */


/* Media Query: Tablet or Smaller */


/* @media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }
    
    .quote-text {
        font-size: 2.5rem;
    }
}*/