// Variables to use for link colour change in Javascript
.magicBgColour,
.magicBgColour a {
    color: $magic;
    font-weight: bold
}

.fireBgColour,
.fireBgColour a {
    color: $fire;
    font-weight: bold
}

.itemsBgColour,
.itemsBgColour a {
    color: $snow;
    font-weight: bold
}