@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&family=Lovers+Quarrel&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: red;
    background-image: url("images/love-heart.png");
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Loved by the King', cursive;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a {
    color: #fff;
}

a:visited {
    color: #fff;
}


/* Love Container */

.love-container {
    background: rgba(255, 0, 0, 0.5);
    text-align: center;
    width: 700px;
    padding-bottom: 10px;
}

.title {
    font-size: 3rem;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 2rem;
    padding-bottom: 20px;
}

/* Form */

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding-left: 100px;
    padding-bottom: 20px;
}

input[type=text],
select {
    width: 50%;
    height: 20px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
    grid-column: 1 / 2;
}


button {
    grid-column: 2 / 3;
}


/* Name Text Label */

.name-text {
    padding-left: 125px;
    text-align: left;
}


/* Name Text Area */


input {
    float: left;
    width: 500px;
    height: 30px;
}

.your-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.crush-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.love-btn {
    margin-top: 40px;
    font-size: 40px;
    background-color: white;
    border-radius: 12px;
    color: black;
    border: 1px solid;
}

#love-score,
#love-comment {
    margin-top: 5px;
    font-size: 1.5rem;
}


/* Footer */

.footer {
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    font-size: 15px;
    text-align: center;
    background: rgba(255, 0, 0, 0.5);
    position: absolute;
}

.footer-links {
    display: inline-block;
    position: relative;
    z-index: 5;
}

.footer-links a {
    color: #EAF6F6;
    font-size: 25px;
    margin-right: 40px;
}

.credits {
    color: #EAF6F6;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

.copyright {
    color: #EAF6F6;
    text-align: center;
    font-size: 0.9em;
    padding-top: 10px;
}