@import "./_variables.scss";

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: $heart;
    background-image: url(#{$images}/love-heart-by-jamie-street-unsplash.png);
    background-repeat: no-repeat;
    color: #fff;
    font-family: $lovefont;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.github-button {
    font-family: $gitfont;
    background-color: $heart;
    font-size: $footer;
    margin-top: 0px;
    margin-bottom: 30px;
}

a {
    color: $snow;
}

a:visited {
    color: $snow;
}


/* Love Container */

.love-container {
    background: $shinyheart;
    text-align: center;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-size: $title;
    padding-bottom: 10px;
}

.subtitle {
    font-size: $subtitle;
    padding-bottom: 20px;
}

/* Form */

.love-form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding-left: 100px;
    padding-bottom: 20px;
}

input[type=text],
select {
    width: 50%;
    height: 20px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
    grid-column: 1 / 2;
}


button {
    grid-column: 2 / 3;
}


/* Name Text Label */

.name-text {
    padding-left: 125px;
    text-align: left;
}


/* Name Text Area */


input {
    float: left;
    width: 500px;
    height: 30px;
}

.your-name {
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.crush-name {
    margin: 0px;
    text-align: center;
    font-size: $name;
}

.love-btn {
    margin-top: 40px;
    font-size: 40px;
    background-color: white;
    border-radius: 12px;
    color: black;
    border: 1px solid;
}

#love-score,
#love-comment {
    font-size: $title;
    margin-top: 5px;
    font-size: 1.5rem;
}


/* Footer */

.footer {
    position: absolute;
    font-family: $gitfont;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    font-size: $footer;
    text-align: center;
    background: $heart;
    position: absolute;
}

.footer-links {
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 5;
}

.footer-links a {
    color: $offwhite;
    font-size: $footerlinks;
    padding-left: 10px;
    padding-right: 10px;
}

.credits {
    color: $offwhite;
    text-align: center;
    font-size: $footertext;
    padding: 5px;
}

.copyright {
    color: $offwhite;
    text-align: center;
    font-size: $footertext;
    padding-top: 5px;
}